@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@import 'mixins.scss';
@import 'extend.scss';
@import "variables.scss";
*{
    font-family: "MuseoModerno", sans-serif;
}
body{
    background-color: #F6F6F6
}
.header{
    @include background('../img/header-bg.png');
    color: $white;
    padding: 20px 0 90px;
    p{
        margin: 0;
    }
    &__top{
        margin-bottom: 160px;
        &-middle{
            p:first-of-type{
                @include font($weight: 500);
            }
            p:last-of-type{
                @include font(18px, 500);
                text-shadow: 
                -1px -1px 0 black,  
                 1px -1px 0 black,
                -1px  1px 0 black,
                 1px  1px 0 black,
                 2px 6px 7px rgba(0,0,0,0.6);
            }
        }
        &-number{
            @include font(18px, 700);
        }
        &-button{
            @extend %btn;
            padding: 8px 18px;
            @include font($weight: 500);
        }
    }
    &__main{
        &-list{
            max-width: 424px;
            width: 100%;
            margin-bottom: 64px;
            figure{
                margin: 0;
                flex:auto;
                img{
                    margin-bottom: 20px;
                }
            }
        }
        &-button{
            @extend %btn;
            padding: 13px 42px;
            margin-bottom: 15px;
            &-credits{
                span{
                    text: {
                        transform: uppercase;
                        decoration: underline;
                    }
                }
            }
        }
        &-h1{
            @include font(42px, 700);
            margin-bottom: 22px
        }
        &-h2{
            @include font(24px, 500);
            margin-bottom: 60px;
        }
    }
}
.main{
    &__advantages{
        padding-top: 80px;
        padding-bottom: 66px;
        &-heading{
            @extend %heading;
            color: $black;
            margin-bottom: 70px
        }
        &-item{
            h3{
            @include font(18px, 700);
            color: $black;
            }
            p{
            @include font(14px);
            text-shadow: 0px 4px 4px #0000004b;
            color: $black;
            max-width: 280px;
            span{
                color: $red;
                text-decoration: underline;
            }
            }
        }
    }
    &__consultation{
        @include background('../img/consultation-bg.png');
        padding: 110px 0;
        color: $white;
        &-heading{
            @include font(36px, 700);
            max-width: 840px;
            margin-bottom: 22px;
        }
        &-text{
            @include font(20px, 500);
            &:last-of-type {
                margin-bottom: 32px;
            }
        }
        &-form{
            max-width: 300px;
            input{
                padding: 15px 20px;
            }
        }
        &-button{
            background-color: $red;
            width: 100%;
            padding: 17px;
            @extend %btn;
            color: inherit
        }
    }
}